.git
.github
.assessment
.config
node_modules
**/node_modules
dist
**/dist
cdk.out
**/cdk.out
.turbo
**/.turbo
coverage
**/coverage
README.md
docs/operations
tools
config/team-kit-applicability
pnpm-lock.yaml
